body{
  background-color: #1a120b;
}

h2{
  margin-left: 4rem;
  color: #E5E5CB;
  font-family: 'Tektur', cursive;
}
/* Carousel */

.carouselp{
  margin-right: 21rem;
}
.carousel-inner{
  margin-top: 4rem;
  margin-bottom: 10rem;
}

/* Navbar */

.navbar-brand{
  color: #E5E5CB;
  margin-bottom: 27px;
  font-family: 'Yuji Boku', serif;
  padding-right: 46rem;
  padding-left: 3.5rem;
}
.nav-item{
  padding: 0 18px;
}

.home{
  margin-top: 3px;
  padding: 0;
  width:60px;
}

.nav-link{
  color: #E5E5CB;
}
.header-left{
  color: #E5E5CB;
  font-family: 'Tektur', cursive;
  font-weight: 200;
  padding-top: 2rem;
}

.btn{
  background-color:#3C2A21;
  color:#E5E5CB;
}

/* Window Shopping */

.text-art{
  margin-top: 5rem;
}

.sampleimg{
  margin-left: 25rem;
}
.renga-text{
  margin-left:10rem;
  margin-top: 3rem;
  color: #E5E5CB;
  font-family: 'Tektur', cursive;
}
#art-option{
  margin-left:6.3rem;
}
/* footer */
.Footer{
  background-color:#E5E5CB;
  margin-top: 5rem;
}
.link-body-emphasis{
  color:black;
}
